pandas~=1.0.3
pandas-datareader~=0.8.1
numpy~=1.18.4
nsepy
dash
scipy
sklearn~=0.0
scikit-learn~=0.22.2.post1
ta~=0.7.0
yfinance~=0.1.59
DateTime~=4.3
plotly~=4.8.2
requests~=2.23.0
dash~=1.13.4
nsetools~=1.0.11
bs4~=0.0.1
beautifulsoup4~=4.9.0
nsepy~=0.8
gunicorn
